
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
@set('message', request.input('errorMessage'))
<center><img src="/assets/img/utils/404.svg" style="width:90%" alt="404">
  <p style="font-family: 'Montserrat', sans-serif;">{{message}}</p>
<center>